
<table data-layout="default" ac:local-id="5f5031ad-0222-4307-a866-f6a6b95013b7"><colgroup><col style="width: 340.0px;" /><col style="width: 340.0px;" /></colgroup>
    <tbody>
    <tr>
    <th>
    <p><strong>Nom</strong></p></th>
    <td>
    <p>$$NOM$$</p></td></tr>
    <tr>
    <th>
    <p><strong>API</strong></p></th>
    <td>
    <p>$$API$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Status</strong></p></th>
    <td>
    <p><ac:structured-macro ac:name="status" ac:schema-version="1" ac:macro-id="fb1bc87a-37bc-4df5-a256-6c1025ea7410"><ac:parameter ac:name="title">$$STATUS$$</ac:parameter><ac:parameter ac:name="colour">$$COLOR$$</ac:parameter></ac:structured-macro></p></td></tr>
    <tr>
    <th>
    <p><strong>Type</strong></p></th>
    <td>
    <p> $$TYPE$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Schedule</strong></p></th>
    <td>
    <p>$$SCHEDULE$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Source object</strong></p></th>
    <td>
    <p>$$OBJ$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Description</strong></p></th>
    <td>
    <p>$$DESCR$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Etapes</strong></p></th>
    <td>
    <p>Total : $$STEPS$$</p>
    $$STEP_BLOCK_DETAIL$$
    </td></tr>
    <tr>
    <th>
    <p><strong>Sous-flux</strong></p></th>
    <td>
    <p>$$SUBFL$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Quick Actions</strong></p></th>
    <td>
    <p>$$QA$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Pages</strong></p></th>
    <td>
    <p>$$PAGES$$</p></td></tr>
    <tr>
    <th>
    <p><strong>Called by</strong></p></th>
    <td>
    <p>$$CALLED$$</p></td></tr></tbody></table>