
<h1><ac:emoticon ac:name="blue-star" ac:emoji-shortname=":dna:" ac:emoji-id="1f9ec" ac:emoji-fallback="🧬" /> Caract&eacute;ristiques de l&rsquo;objet</h1>
<table data-layout="default" ac:local-id="5f5031ad-0222-4307-a866-f6a6b95013b7"><colgroup><col style="width: 340.0px;" /><col style="width: 340.0px;" /></colgroup>
    <tbody>
        <tr>
            <th><p><strong>API Name</strong></p></th>
            <td><p>$$NAME$$</p></td>
        </tr>
        <tr>
            <th><p><strong>Custom</strong></p></th>
            <td><p><ac:structured-macro ac:name="status" ac:schema-version="1" ac:macro-id="186dd35b-3e87-4a62-8064-f806a2ba6337">
                <ac:parameter ac:name="title">$$TYPE$$</ac:parameter><ac:parameter ac:name="colour">$$COLOR$$</ac:parameter></ac:structured-macro> </p></td>
        </tr>
        <tr>
            <th><p><strong>Name field</strong></p></th>
            <td><p>$$NAME_FIELD$$</p></td>
        </tr>
    </tbody>
</table>
$$RT_BLOCK_DETAIL$$
$$FIELD_BLOCK_DETAIL$$
$$VR_BLOCK_DETAIL$$